name: Generate Snake

on:
  schedule:
    - cron: "0 */12 * * *" 
  workflow_dispatch:
  push:
    branches:
    - master
    - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - uses: Platane/snk@v3
        id: snake-gif
        with:
          github_user_name: EnderMythex
          # Ici, je force le serpent en BLANC (#ffffff) et les points en GRIS/BLANC
          outputs: |
            dist/github-contribution-grid-snake.svg?color_snake=#ffffff&color_dots=#161b22,#161b22,#30363d,#6e7681,#ffffff
            dist/github-contribution-grid-snake-dark.svg?palette=github-dark&color_snake=#ffffff&color_dots=#161b38,#161b22,#30363d,#6e7681,#ffffff

      - uses: crazy-max/ghaction-github-pages@v3.1.0
        with:
          target_branch: output
          build_dir: dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
